{% extends "layout.html" %}

{% block content %}
  <img id="profile-pic" src="images/profile.jpeg" />
  <div id="links">
    <a href="https://github.com/alexzobi">
      <img src="images/github.png" />
    </a>
    <a href="https://linkedin.com/in/asobiloff">
      <img src="images/linkedin.png" />
    </a>
    <a href="https://www.instagram.com/nathanaxephotography/">
      <img src="images/instagram.png" />
    </a>
  </div>
  <h1>Alex Sobiloff</h1>
  <p>Software engineer and Author of <i> But Why? </i></p>

{% endblock %}
