{% extends "layout.html" %}

{% block content %}
  <form method="POST" action="/contact/" id="contact">
    <h1>Contact Alex</h1>
    <h3>Please include all fields (up to you)</h3>
    <input name="name" placeholder="Name" />
    <input name="email" placeholder="Email" />
    <input name="city" placeholder="City" />
    <input name="state" placeholder="State" />
    <input name="country" placeholder="Country" />
    <textarea name="message" placeholder="Start the conversation!"></textarea>
    <button type="submit"> Reach out!</button>
  </form>

{% endblock %}