{% extends "layout.html" %}

{% block content %}
  <div id="back-image" src="images/back.jpg">
    <h2>But Why?</h2>

    <p>
      Such a simple question. And yet, how often do we
      take the time to ask?
    </p>

    <p>
      For me, the answer was "not enough." For too long, I operated 
      under the impression that success was what others had defined
      it as for me. Success was a big house with the perfect family to fill it. Success was a 45 year career. Success was money. The more money, the more success.
    </p>

    <p>Depression is a funny thing. It can sneak up on you
      without you even noticing. It can move into your brain
      like an unwelcomed tennant, impossible to evict. It 
      can change the way you eat. The way you sleep. The way
      you breathe. 
    </p>

    <p>
      <i>But Why</i> is the story of my personal journey
      to redefining success. To removing the sadness in my
      life and discovering what it means to truly be happy.
    </p>

    <p>
      It isn't mind-blowing. It isn't revolutionary. It's
      just me. But maybe, it's also you.
    </p>

    <p>
        Send me a message for your copy of <i>But Why?</i> All it costs is a conversation.
    </p>

  </div>

{% endblock %}