<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>But Why</title>
  <!-- <script src="./bundle.js" defer></script> -->
  <link rel="stylesheet" href="./style.css"></link>
</head>
<body>
  <div id="navbar">
    <img src="images/logo.png" />
    <div class="nav-buttons">
      <a href="/">
        <div class="button">Home</div>
      </a>
      <a href="/about">
        <div class="button">About</div>
      </a>
      <div class="button">Blog</div>
    </div>
  </div>
  <div id="body">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    <a class="button" href="/contact">
      <div>Contact</div>
    </a>
  </div>
</body>
</html>