body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('/images/front.jpg');
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

/* navbar styling */

#navbar {
  position: fixed;
  height:8vh;
  width: 98vw;
  margin-left:1vw;
  background-color: rgba(0,0,0, 0.75);
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-6.5vh);
  transition: transform 0.5s;
}

#navbar:hover, #navbar.active {
  transform: translateY(0);
}

#navbar .nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar img {
  height: 125%;
  width: auto;
  margin-left: 10px
}

#navbar .button {
  font-weight: bold;
  height: 4vh;
  width: 100px;
  max-width: 15vw;
  margin: 0 20px 0 0;
  border-radius: 7px;
  background-color: none;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#navbar .button:hover {
  background-color: rgba(0,0,0,1);
}

/* body styling */

#body {
  height:94vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

  /* home page */

#body #back-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  height: 85vh;
  max-height: 90vh;
  width: calc(0.618631732 * 85vh);
  /* min-width: 350px; */
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

#back-image p {
  margin: 1vh;
  width: 90%;
  line-height: 2.2vh;
  text-shadow: 0 0 10px black;
  font-size: 2.1vh;
}

  /* about page */

#profile-pic {
  border-radius: 50%;
  margin: 25px;
  width: 250px;
  height: 250px;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#links img{
  height: 50px;
  width: 50px;
  margin: 10px;
}

#body p {
  text-align: center;
}

  /* contact page */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#contact h1, #contact h3 {
  text-shadow: 0 0 10px black;
}

#contact input, #contact textarea {
  margin: 10px;
  width: 300px;
  line-height: 24px;
  text-indent: 10px;
  border-style: none;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#contact textarea {
  width: 30vw;
  min-width: 300px;
  height: 150px;
  line-height: 18px;
}

#contact button {
  width: 150px;
  height: 30px;
  margin: 10px 0 20px 0;
  background-color: #324a4a;
  border-style: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px white;
  font-family: 'Courier New', Courier, monospace;
}


/* footer styling */

#footer {
  height:6vh;
  width: 100%;
  background-color: #324a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

#footer .button {
  font-weight: bold;
  height: 60%;
  width: 100px;
  margin:  0 10px 0 10px;
  background-color: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}